@import "colors.css";

* {
  font-family: JetBrainsMono;
  background: transparent;
}

#window {
  background: rgba(@surface, 0.5);
  margin: auto;
  padding: 10px;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: @surface_variant;
  color: @on_surface;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: @surface_dim;
}

#text {
  margin: 2px;
  color: @on_background;
}
